.backgrond {
    background-image: url('https://media.istockphoto.com/id/1334436084/vi/anh/từ-trên-xuống-xem-các-phụ-kiện-chơi-game-được-chiếu-sáng-đầy-màu-sắc-nằm-trên-bàn.jpg?s=612x612&w=0&k=20&c=xaVbkmRQkVLDqjgerzDti-GFn536esqif4-DPxmTXt8=');
    background-size: cover;
    background-position: center;
}

.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    ..gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://media.istockphoto.com/id/1334436084/vi/anh/từ-trên-xuống-xem-các-phụ-kiện-chơi-game-được-chiếu-sáng-đầy-màu-sắc-nằm-trên-bàn.jpg?s=612x612&w=0&k=20&c=xaVbkmRQkVLDqjgerzDti-GFn536esqif4-DPxmTXt8=');
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.bglogin {
    background-color: #68ecbe;
}
