@{
    Layout = null;
} 
 
    <tbody>
        <tr>
            <td>Email: </td>
            <th scope="row">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Input your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">@@gmail.com</span>
                </div>
            </th>
        </tr>
        <tr>
            <td>Password: </td>
            <th scope="row"><input type="text" class="form-control" placeholder="Input your password" aria-label="PhoneNumber"></th>
        </tr>
        <tr>
            <td>New Password: </td>
            <th scope="row"><input type="text" class="form-control" placeholder="Input new password" aria-label="PhoneNumber"></th>
        </tr>
        <tr>
            <td>Confirm password: </td>
            <th scope="row"><input type="text" class="form-control" placeholder="Confirm" aria-label="PhoneNumber"></th>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-dark">Change</button>
            </td>
        </tr>
    </tbody> 