 
<div class="container"> 
    <div class="main-box">  
         <div class="box-left">
            <img id="avatarShow" src="https://th.bing.com/th/id/OIP.EF_rH_CGlInjFiT_D71OjAHaE8?pid=ImgDet&rs=1" class="rounded mx-auto d-block" alt="..." style="width: 80%;margin: 12% 12% 0 12%;">
            <div class="input-group mb-3" style="width: 80%;margin: 0 10%;">
                 <input type="file" class="form-control imgInp" name="uploadImage" id="uploadImage">
            </div>
            <button type="button" class="btn btn-dark" id="btnUpload" style="margin: 0 15%;width: 68%;margin-bottom: 68%;">
               Add Avatar
            </button>
        </div> 
        <div class="box-right">
            <h1>Profile</h1>
            <p>Management profile information: </p>
            <hr /> 
            <div id="loader"></div>
            <div class="form-profile"> 
                <table class="table table-borderless" id="changeRouter" > 
                     
                </table> 
            </div>
        </div>
        <div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed  " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Main profile
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <button id="handleProfile" class="button-list-item button-list-change select-button orderRouter" data-url="@Url.Action("MainProfile", "Profile")">
                            Handle profile
                        </button>
                        <button class="button-list-item select-button orderRouter" data-url="@Url.Action("ChangePassword", "Profile")">
                            Change Password
                        </button>
                    </div>
                </div> 
                <button id="DataOrder" class="button-list-item select-button orderRouter" data-url="@Url.Action("Order", "Profile")">
                    Order
                </button> 
                </div> 
        </div>
    </div> 
        
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> 
</div> 
