@{
    Layout = null;
    ViewData["js"] = "profile.js";
} 
 
<tbody class="divScroll">
    <tr>
        <th scope="row">Your order:  </th>
    </tr>
    <tr id="tbodyResult">
        
    </tr>
     
</tbody>
 
<script id="courseTemplate" type="text/x-jquery-tmpl">  
    <th >
        <div class="card" style="width: 18rem;"> 
            <div class="card-body">
                <h5 class="card-title" id="product">${product}</h5>
                <p class="card-text hidden-text">${description}</p>
                <p id="quantity">Quantity: ${quanlity}</p>
                <p id="total">Total: ${total}</p>
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="showDetail(${id});">See detail</button>
                <button class="btn btn-danger" onclick="cancelOrder(${id})">Cancel Order</button>
            </div>
        </div>
    </th> 
</script>