@{
    Layout = null;
} 
 
<tbody class="divScroll">
    <tr>
        <th scope="row">Your order: 2 </th> 
    </tr>
    <tr>
        <th> 
            <div class="card" style="width: 18rem;">
                <img src="http://tuonglamphotos.com/wp-content/uploads/2021/07/dich-vu-chup-anh-san-pham-tuonglamphotos-6-1024x683.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product</h5>
                    <p class="card-text hidden-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">See detail</button>
                    <a href="#" class="btn btn-danger">Cancel Order</a>
                </div>
            </div>
        </th>
         <th> 
            <div class="card" style="width: 18rem;">
                <img src="http://tuonglamphotos.com/wp-content/uploads/2021/07/dich-vu-chup-anh-san-pham-tuonglamphotos-6-1024x683.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text hidden-text">Some quick example text to build 2</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> See detail</button>
                    <a href="#" class="btn btn-danger">Cancel Order</a>
                </div>
            </div>
        </th>
        </tr>
    <tr>
        <th>
            <div class="card" style="width: 18rem;">
                <img src="http://tuonglamphotos.com/wp-content/uploads/2021/07/dich-vu-chup-anh-san-pham-tuonglamphotos-6-1024x683.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text hidden-text">Some quick example text to build 2</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> See detail</button>
                    <a href="#" class="btn btn-danger">Cancel Order</a>
                </div>
            </div>
        </th>
         <th> 
            <div class="card" style="width: 18rem;">
                <img src="http://tuonglamphotos.com/wp-content/uploads/2021/07/dich-vu-chup-anh-san-pham-tuonglamphotos-6-1024x683.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text hidden-text">Some quick example text to build 2</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> See detail</button>
                    <a href="#" class="btn btn-danger">Cancel Order</a>
                </div>
            </div>
        </th>
        </tr>
    <tr>
        <th>
            <div class="card" style="width: 18rem;">
                <img src="http://tuonglamphotos.com/wp-content/uploads/2021/07/dich-vu-chup-anh-san-pham-tuonglamphotos-6-1024x683.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text hidden-text">Some quick example text to build 2</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> See detail</button>
                    <a href="#" class="btn btn-danger">Cancel Order</a>
                </div>
            </div>
        </th>
        <th>
            <div class="card" style="width: 18rem;">
                <img src="http://tuonglamphotos.com/wp-content/uploads/2021/07/dich-vu-chup-anh-san-pham-tuonglamphotos-6-1024x683.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text hidden-text">Some quick example text to build 2</p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> See detail</button>
                    <a href="#" class="btn btn-danger">Cancel Order</a>
                </div>
            </div>
        </th>
    </tr>
</tbody> 